.indexFooter {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}

.aboutFooter {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}

.loginFooter {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}

.signupFooter {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}

.footerDiv {
    flex-shrink: 0;
    width: 100%;
    margin-top: 400px;
    text-align: center;
}

.contactFooter {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}

.aboutFooter p {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
}