body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #181821;
    color: white;
    user-select: none;
}

.header {
    display: flex;
    align-items: flex-start;
    padding: 20px 60px;
}

.headerBar {
    margin-left: auto;
}

.headerLinks {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-top: 28px;
    padding: 0;
    
}

.headerLinks li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
    font-family: Inter, sans-serif;
    user-select: none;
}

.headerTitle h1 {
    margin-top: 18px;
}

.headerTitle p {
    margin: 4px 0 0;
}

.headerLogo img {
    width: 77px;
    height: auto;
    margin-left: 40px;
}

.headerLinks li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Inter, sans-serif;

    /* white glow */
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.4);

    transition: all 0.3s ease;
}

.headerLinks li a:hover {
    background: linear-gradient(
        90deg,
        #B4D63D 0%,
        #9FD44A 14%,
        #86D05E 28%,
        #6ACB78 42%,
        #52C2A2 56%,
        #46A9B6 70%,
        #3F82C4 85%,
        #3A60CA 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow:
        0 0 10px rgba(46, 204, 113, 0.6),
        0 0 10px rgba(52, 152, 219, 0.6);
}

.headerTitle h1,
.headerTitle p {
    color: white;
    font-family: Inter, sans-serif;
    cursor: pointer;

    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.9),
        0 0 14px rgba(255, 255, 255, 0.6),
        0 0 24px rgba(255, 255, 255, 0.4);

    transition: all 0.3s ease;
}

.headerTitle h1:hover,
.headerTitle p:hover {
    background: linear-gradient(
        90deg,
        #B4D63D 0%,
        #9FD44A 14%,
        #86D05E 28%,
        #6ACB78 42%,
        #52C2A2 56%,
        #46A9B6 70%,
        #3F82C4 85%,
        #3A60CA 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow:
        0 0 12px rgba(46, 204, 113, 0.6),
        0 0 12px rgba(52, 152, 219, 0.6);
}

